# xcode noise
build/*
*.pbxuser
*.mode1v3

# old skool
.svn

# osx noise
.DS_Store
profile

#Categories Specific
iPad/
iPhone/
Categories-Info.plist
Categories-Prefix.pch
CategoriesAppDelegate.h
CategoriesAppDelegate.m
main.m
en.lproj/
.DS_Store
